.root {
  -fx-background-color: #A0A0A0;
  -fx-padding: 5px;
}

GridPane {
  -fx-pref-width: 300px;
  -fx-pref-height: 600px;
  -fx-min-width: 300px;
  -fx-min-height: 600px;
}

#scrollPane {
  -fx-background-color: #1e1e1e;
  -fx-background-insets: 0;
  -fx-border-color: #444444;
  -fx-border-width: 1px;
}

#textFlow {
  -fx-padding: 10px;
}

#gameState {
  -fx-fill: #404080;
  -fx-font-family: "Segoe UI", sans-serif;
  -fx-font-size: 14px;
}

#guessInput {
  -fx-background-color: #3c3f41;
  -fx-text-fill: white;
  -fx-prompt-text-fill: #888888;
  -fx-background-radius: 0;
  -fx-border-color: #444444;
  -fx-border-width: 1px 0 1px 1px;
}

#guessInput:focused {
  -fx-border-color: #0078d7;
}

#send {
  -fx-background-color: #0078d7;
  -fx-background-radius: 3px;
  -fx-cursor: hand;
}

#send:hover {
  -fx-background-color: #1a8ad4;
}

TilePane#guessPalette {
  -fx-max-height: Infinity;
  -fx-max-width: Infinity;
  -fx-alignment: center;
  -fx-tile-alignment: center;
  -fx-hgap: 16px;
  -fx-vgap: 16px;
  -fx-pref-columns: 4;
  -fx-padding: 10px;
}

Button.palette-button {
  -fx-background-color: transparent;
  -fx-padding: 0;
  -fx-border-color: transparent;
  -fx-alignment: center;
}


Button.palette-button > Circle {
  -fx-stroke-width: 2px;
  -fx-stroke: #000000C0;
}

Button.palette-button:hover {
  -fx-cursor: hand;
}

Button.palette-button:hover > Circle {
  -fx-stroke-width: 2px;
  -fx-stroke: white;
}

Button.palette-button.red-fill > Circle {
  -fx-fill: red;
}

Button.palette-button.orange-fill > Circle {
  -fx-fill: orange;
}

Button.palette-button.yellow-fill > Circle {
  -fx-fill: yellow;
}

Button.palette-button.green-fill > Circle {
  -fx-fill: green;
}

Button.palette-button.blue-fill > Circle {
  -fx-fill: blue;
}

Button.palette-button.indigo-fill > Circle {
  -fx-fill: indigo;
}

Button.palette-button.violet-fill > Circle {
  -fx-fill: violet;
}